.container {
  background-color: aqua;
  display: flex;
  height: 100vh;
  justify-content: center; /*메인방향 기준 가운데 정렬*/
  /*flex-direction: column; 세로*/
  /*align-items: center; 메인방향에 대한 교차방향 기준 가운데 정렬*/
  justify-content: space-between;
}

.box {
  width: 200px;
  height: 200px;
}

.box:nth-child(1) {
  background-color: red;
}

.box:nth-child(2) {
  background-color: green;
}

.box:nth-child(3) {
  background-color: blue;
}
